.contenedorParte1 {
    display: flex;
    width: 100%;
    max-width: 54rem;
    justify-content: center;
    height: 82vh;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 4.5rem;
}

.contenedorSecundario,
.contenedorPrimario {
    max-width: 54rem;
    margin-top: 10rem;
}

.texto {
    max-width: 74rem;
}

.idiomas {
    width: 100%;
}

.contenedorIdiomas {
    max-width: 64rem;
}